/* ! Start Global Variable */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
}

body {
  user-select: none;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-thumb {
  background: rgb(4, 4, 65);
}

/* ! End Global Variable */
/* ! Start Navbar */
.navbar {
  margin-top: 10px;

  .collapse {
    position: relative;
    margin-right: 20px;

    ul {
      position: absolute;
      right: 0;

      li {
        font-weight: 800;
        font-size: 18px;
        padding: 10px;

        & a:hover,
        & a:focus {
          color: red;
        }

        &:last-child a:hover {
          color: blue;
        }
      }
    }
  }

  .navbar-toggler {
    font-size: 25px;
    border-color: red;
    color: red;
  }

  .navbar-toggler[aria-expanded="true"] {
    border-color: red;
  }
}

/* ! End Navbar */
/* ! Start Landing */
.landing {
  background: url(../images/landing-01.webp) no-repeat;
  background-size: cover;
  height: calc(85vh - 62px);
  position: relative;
  z-index: -1;

  .mouse-show {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    color: white;
    text-align: center;

    span {
      font-size: 14px;
      font-weight: 500;
    }

    img {
      width: 40px;
      height: 40px;
    }
  }
}

.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}

.landing .overlay .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 55%;
  padding: 50px;
  color: white;
  background-color: rgba(0, 38, 255, 0.233);
  display: flex;
  justify-content: flex-end;
}

.landing .overlay .text .contnet {
  max-width: 700px;
}

@media (max-width: 767px) {
  .landing .overlay .text {
    width: 100%;
  }

  .landing .overlay .text .contnet {
    max-width: 100%;
  }
}

.landing .overlay .text .contnet h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 20px;
}

.landing .overlay .text .contnet p {
  font-size: 14.2px;
  font-weight: 600;
  line-height: 2.5;
  padding-bottom: 30px;
}

/* ! End Landing */
/* ! Start Global */
.global {
  padding-bottom: 50px;

  h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(75, 75, 75);
  }

  h2 {
    width: 900px;
    max-width: 100%;
    margin: auto;
    font-size: 43px;
    font-weight: 700;
    color: rgb(75, 75, 75);
  }

  .para:first-of-type {
    font-size: 15px;
    color: #555;
    padding-right: 40px;
  }

  .para:last-of-type {
    font-size: 15px;
    color: #555;
    padding-left: 40px;
  }

  @media (max-width: 767px) {

    .para:first-of-type,
    .para:last-of-type {
      padding: 10px;
    }
  }

}

/* ! End Global */
/* ! Start Objects */
.object {
  text-align: center;

  .data {
    border-right: 1px solid black;
    margin-bottom: 50px;
  }

  .data:nth-child(1),
  .data:nth-child(4) {
    border-left: 1px solid black;
  }

  h3 {
    background-color: rgb(4, 4, 65);
    color: white;
    padding: 25px 60px;
  }

  h5 {
    padding: 18px;
    font-weight: bold;
    color: #444;
    height: 130px;
  }

  p {
    padding: 18px;
    font-size: 20px;
    height: 170px;
    font-weight: 500;
  }

  button {
    padding: 20px 50px;
    background-color: red;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: 500;
    font-size: 20px;
  }
}

/* ! End Objects */
/* ! Start Gen Sets */
.gen-sets {
  background-color: #f9f9f9;

  .data {
    p {
      width: 750px;
      max-width: 100%;
      color: rgba(0, 0, 0, 0.7);
      font-weight: 500;
    }
  }

  .photo {

    @media (max-width: 767px) {
      img {
        display: none;
      }
    }

    @media (max-width: 992px) {
      img {
        display: none;
      }
    }
  }
}

/* ! End Gen Sets */
/* ! Start Production */
.product-features {
  .product-section-title {
    font-weight: 800;
    color: #444;
    padding: 30px 0;
    font-size: 48px;
    max-width: 100%;
  }

  ul {
    li {
      padding: 5px 0;
      font-size: 20px;
      font-weight: 500;
      color: #bdbdbd;

      a {
        text-decoration: none;
        color: #bdbdbd;
        font-size: 18px;
        font-weight: 400;
      }

      .fas {
        color: red;
        padding-right: 3px;
      }
    }
  }
}

/* ! End Production */
/* ! Start Our Partners */
.partner {
  background-color: #f9f9f9;
  color: #444;
  text-align: center;

  .engine {
    padding-bottom: 50px;
    border-bottom: 1px solid #999;
  }

  h3 {
    font-weight: 800;
    padding: 30px 0;
    font-size: 48px;
    max-width: 100%;
    text-align: left;
  }

  img {
    width: 160px;
    border: 2px solid black;
    padding: 12px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
  }
}

/* ! End Our Partners */
/* ! Start CKD */
.ckd {
  .page-intro {
    max-width: 100%;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
  }


  .photo {

    @media (max-width: 767px) {
      img {
        display: none;
      }
    }

    @media (max-width: 992px) {
      img {
        display: none;
      }
    }
  }

  p {
    font-size: 18px;
    font-weight: 500;
    width: 770px;
    max-width: 100%;
  }
}

/* ! End CKD */
/* ! Start Gentronics */
.gentronics {
  p {
    font-weight: 500;
  }
}

/* ! End Gentronics */
/* ! Start Our History */
.history {

  .intro {
    p {
      font-size: 25px;
      font-weight: 400;
      padding-bottom: 10px;
    }
  }

  .img-responsive {
    border: none;
    width: 80%;
  }

  img {
    width: 420px;
    max-width: 100%;
    border: 3px solid white;
  }

  .data {
    margin-top: 30px;
    width: 650px;
  }
}

/* ! End Our History */
/* ! Start Contact US (1) */
.form {
  background-color: #f9f9f9;

  .intro {
    font-size: 23px;

    p a {
      text-decoration: none;
      color: black;

      &:hover {
        color: rgb(165, 165, 165);
      }
    }
  }

  .row {
    .name {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: -3px;
    }


    label {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 2px;

      span {
        color: red;
      }
    }

    input,
    select,
    textarea {
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.3);

      &:focus {
        box-shadow: 0 0 10px 1px lightskyblue;
        border: none;
      }

      padding: 8px 15px;
      margin-bottom: 15px;
    }

    textarea {
      margin-top: 6px;
      height: 220px;
      resize: none;
    }
  }

  .btn {
    background-color: red;
    color: white;
    font-weight: 500;
    padding: 10px 14px;

    &:hover {
      background-color: blue;
      color: white;
    }

    margin-top: 8px;
  }
}

/* ! End Contact US (1) */
/* ! Start Contact US (2) */
.contact-us {
  text-align: center;
  background-color: rgb(226, 0, 0);
  padding: 25px;

  h3 {
    font-weight: 800;
    font-size: 42px;
    color: #fff;
    padding-bottom: 20px;
  }

  button {
    padding: 22px 90px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: 500;

    a {
      text-decoration: none;
      color: black;
      font-size: 18px;
    }
  }
}

/* ! End Contact US (2) */
/* ! Start Footer */
.footer {
  background-color: rgb(4, 4, 65);
  color: white;
  padding: 20px;

  .footer-title {
    font-size: 24px;
    font-weight: 600;
    padding: 25px;
    padding-left: 0;
  }

  .address {
    font-size: 20px;
    color: #bdbdbd;
  }

  .contact-numbers {
    span {
      color: #bdbdbd;
      font-weight: 500;
    }
  }

  .uk-flag {
    width: 300px;
    padding-bottom: 20px;
  }

  #bluestorm {
    color: #bdbdbd;

    span {
      &::after {
        content: "❤️";
        display: none;
      }

      &:hover,
      &:hover::after {
        color: red;
        font-size: 20px;
        display: unset;
      }
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
    padding: 12px 0;
  }

  .accordion {
    ul {
      li {
        padding: 2px 0;

        a {
          text-decoration: none;
          color: #bdbdbd;
          font-size: 18px;
          font-weight: 400;
        }

        .fas {
          color: red;
          padding-right: 3px;
        }
      }
    }
  }
}

/* ! End Footer */