::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-thumb {
  background: rgb(4, 4, 65);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(226, 0, 0);
}

.scroller {
  position: fixed;
  left: 0;
  top: 68px;
  height: 3px;
  width: 0;
  background-color: #1877f2;
  z-index: 9999;
}